---

---

<div>
  <h2>Skills</h2>
  <ul>
    <li>JavaScript</li>
    <li>React</li>
    <li>Vue.js</li>
    <li>Node.js</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Git</li>
  </ul>
  <h2>Actively learning</h2>
  <ul>
    <li>TypeScript</li>
    <li>Angular</li>
  </ul>
  <h2>Languages</h2>
  <ul>
    <li><b>French</b>: Native</li>
    <li><b>English</b>: C1</li>
    <li><b>German</b>: B1</li>
    <li><b>Dutch</b>: A2</li>
  </ul>
</div>

<style lang="scss">
  h2 {
    font-size: 1.2rem;
  }
</style>
